footer {
  h1.site-name {
    // line-height: 1;
    font-size: 32px;
  }
  .site-slogan {
    // line-height: 1;
    font-size: 16px;
    color: "white";
  }
}

/* Small only */

@media screen and (max-width: 39.9375em) {
  .footer-bottom-1,
  .footer-bottom-2,
  .bottom-copyright {
    text-align: center;
  }
}

.footer-top {
  color: $white;
  nav {
    color: white;
    a {
      color: white;
    }
  }
  background-color: $primary-color;
  padding-top: 1rem;
  padding-bottom: 1rem; // margin-top: 1rem;
}

.footer-bottom {
  font-family: sans-serif;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  background-color: $black;
  a {
    color: white;
  }
}

footer #site-logo {
  width: 80px;
  height: 80px;
}

footer #site-logo-path {
  fill: $green-light;
}
