.top-bar {
  color: $white;
  height: 225px;
  // How to add path prefix only on build???
  background-image: url("/foundation-6-mockup-for-drupal-8-theme/assets/img/coconut-tree.jpg");
  background-size: cover;
  background-position-y: 50%;
  #site-logo {
    width: 100px;
    // height: 100px;
    float: left;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  #site-logo-path {
    fill: $white;
  }
  .site-name,
  .site-slogan {
    line-height: 1;
  }
  .site-name {
    color: $primary-color;
  }
  ul {
    background-color: transparent;
    line-height: 1;
    margin-bottom: 1em;
    li {
      padding: 0;
      margin: 0;
    }
    a {
      padding: 0;
      margin: 0 0 0 1em;
    }
  }
  #user-menu {
    color: $primary-color;
  }
}
